<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- manifest -->
    <link rel="manifest" href="manifest.json" />

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div id="app" class="container">

        <div class="modal" tabindex="-1" style="display: block" v-show="estadoModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">{{personajeActual?.name}}</h2>
                        <button type="button" @click="ocultarModal" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Género:</strong> {{ personajeActual?.gender }}</li>
                            <li class="list-group-item"><strong>Ubicación:</strong> {{ personajeActual?.location.name }}
                            </li>
                            <li class="list-group-item"><strong>Especie:</strong> {{ personajeActual?.species }}</li>
                            <li class="list-group-item"><strong>Origen:</strong> {{ personajeActual?.origin.name }}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button @click="ocultarModal" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col d-flex justify-content-center align-items-baseline">
                <h1 class="m-3">{{titulo}}</h1>
                <a class="btn btn-primary" href="#historial">Ver historial</a>
            </div>
        </div>

        <div class="row d-flex align-items-center justify-content-center">
            <div class="card col-12 col-md-3 m-3 p-0" v-for="personaje in personajes">
                <img :src="personaje.image" class="card-img-top" alt="personaje.name">
                <div class="card-body">
                    <h2 class="card-title fs-4">{{personaje.name}}</h2>
                    <p class="card-text">Status: {{personaje.status}}</p>
                    <button class="btn btn-primary w-100" @click="(e)=>{verPersonaje(personaje.url)}">Ver más</button>
                </div>

            </div>
        </div>

        <div class="row" id="historial">
            <div class="col-9 m-auto my-5">
                <h2>Historial</h2>
                <ul class="list-group">
                    <li class="list-group-item" v-for="personaje in historial" :key="personaje.name">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>{{ personaje.name }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <script src="main.js"></script>
</body>

</html>